.stateList {
  width: 50%;
  display: flex;
  margin: 30px;
  flex-wrap: wrap;

  .list {
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid grey;
    margin: 5px;
  }

  .list:hover {
    background-color: #666;
    color: white;
  }
  .active {
    background-color: #666;
    color: white;
  }
}
.state h1,
p {
  margin: 10px 30px;
}
.stateData {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}
.mainBox {
  width: 320px;
  height: 200px;
  border: 2px solid #d2d6d7;
  margin-top: 20px;

  .title {
    background: #f2f2ff;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    line-height: 1.4;
  }
  .subtitle {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0px 10px;
    font-weight: 700;
  }
}
