.heading {
  background: #252b33;
  padding: 10px 50px;
  position: sticky;
  top: 130px;
  z-index: 10;
  span {
    color: white;
  }
  h1 {
    color: white;
  }
}
.updateInfo {
  background-color: #f6ce7a;
  color: black;
  padding: 10px 50px;
  font-size: 16px;
}
